$line-width: 4px;
$line-color: rgb(255, 255, 206);

.robot-status-display {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%;

    &-case {
        width: 200px;
        height: 200px;

        polyline {
            fill: none;
            stroke: $line-color;
            stroke-width: $line-width;
        }
    }

    &-head {
            width: 80px;
            height: 80px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-80%);

        polyline {
            fill: none;
            stroke: $line-color;
            stroke-width: $line-width * 2;
    }}
    &-line {
        position: absolute;
        width: 170px;
        height: 3px;
        background-color: yellow;
        box-shadow: 0 0 5px 0 yellow;
        transition: 0.3s;
    }
}
