.led-container {
    padding: 10px;
}
.label-led {
    display: flex;
    align-items: center;
}
.led-status {
    &-led {
        width: 20px;
        height: 20px;
        border-radius: 15px;
    }
    &-on {
        background-color: #0de806d4;
        box-shadow: 0px 0px 2px #0de806d4;
    }
    &-off {
        background-color: red;
        box-shadow: 0px 0px 7px red;
    }
    &-title {
        margin: 0 10px;
        font-size: 12px;
    }
}