@import '~/styles/variables.scss';

.mover {
    position: relative;
    width: 200px;
    height: 200px;
    //border: $button-border;
    //border-radius: 100%;
    //box-shadow: $button-shadow;
    margin: 30px;
    padding: 5px;
    
    &-middler {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: #748da757;

        &-anim-top {
            animation-duration: 0.2s;
            animation-name: directionAnimTop;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        &-anim-bottom {
            animation-duration: 0.2s;
            animation-name: directionAnimBottom;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        &-anim-left, &-anim-right {
            box-shadow: 0px 12px 5px -8px #00dcff;
            animation-duration: 1s;            
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        &-anim-left {
            animation-name: directionAnimLeft;
        }
        &-anim-right {
            animation-name: directionAnimRight;
        }
    }
    &-toggler {
        position: absolute;
        height: 30px;
        width: 30px;
        //background-color:  #657b96;
        top: 50%;
        left: 50%;
        border-radius: 100%;
        border: 3px solid #657b96;
        transform: translate(-50%, -50%);
    }
}

@keyframes directionAnimTop {
    to {
        box-shadow: 0px -12px 5px -8px #00dcff
    }
}

@keyframes directionAnimBottom {
    to {
        box-shadow: 0px 12px 5px -8px #00dcff
    }
}

@keyframes directionAnimLeft {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(-270deg);
    }
}

@keyframes directionAnimRight {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(270deg);
    }
}