.led_container {    
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    margin-top: auto;
}

.hide-button {
    position: absolute;
    top: 0;
    right: 0;
}

.controllers {
    overflow: hidden;
    position: absolute;
    bottom: 50px;
    width: 100%;
    z-index: 30;
}
