.open-camera_button {
    position: absolute;
    top: 0;
    right: 0;
}

.stop-operation_button {
    position: absolute;
    bottom: 200px;
    right: 0px;
}

.position-controller-block {
    position: absolute;
    z-index: 30;
    right: 100px;
    bottom: 150px;
}
.mover-controller-block {
    position: absolute;
    z-index: 30;
    left: 30px;
    bottom: 50px;
}