.MainPage {
  &-head-title {
    font-size: 3rem;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    padding: 16px;

    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 10;
  }
}

.Container {
  height: calc(100% - 2.5rem);
  overflow: hidden;
}

.ScrollContainer {
  overflow-y: scroll;
  height: 100%;
}

.texts {
  &-title {
    position: sticky;
    top: 5rem;
    text-align: center;
    font-size: 46px;
    padding: 20px;
    font-weight: 600;
    color: #b3e5f5;
    text-shadow: 4px 2px 3px #283443;
  }
}

.bottom-section {
  top: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform: translateY(100vh);
  & video {
    max-height: 60vh;
  }
}

.footer {
  width: 100%;
  height: 40px;
  background: #5b5959;
}
