@import 'src/styles/variables.scss';

.loadingWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $main-bg;

    &_button {
        height: 120px;
        width: 120px;
        flex-shrink: 1;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
        font-size: 15px;
        font-weight: 300;
        font-family: system-ui;

        &_preload {
            animation-name: blinking;
        }
        &_loading {
            animation-duration: 3s;
            animation-name: loading;
            animation-direction: normal;
        }

    }

    &_progressBar {
        position: absolute;
        top: calc(50% + 100px);
        width: 200px;
        height: 5px;
        margin-top: 56px;
        border-radius: 3px;
        background-color: #353535;
        overflow: hidden;

        &_inner {
            height: 100%;
            background: #838892;
            transition: 0.5s;
        }
    }
}

@keyframes blinking {
    from {
        box-shadow: 0px 0px 12px 2px #50faff;
    }
}

@keyframes loading {
    0% {
        box-shadow: 0px 10px 12px 2px #50ff9f;
    }

    12% {
        box-shadow: 7px 7px 12px 2px #50ff9f;
    }

    25% {
        box-shadow: 10px 0px 12px 2px #50ff9f;
    }
    37% {
        box-shadow: 7px -7px 12px 2px #50ff9f;
    }
    50% {
        box-shadow: 0px -10px 12px 2px #50ff9f;
    }
    62% {
        box-shadow: -7px -7px 12px 2px #50ff9f;
    }
    75% {
        box-shadow: -10px 0px 12px 2px #50ff9f;
    }
    87% {
        box-shadow: -7px 7px 12px 2px #50ff9f;
    }
    100% {
        box-shadow: 0px 10px 12px 2px #50ff9f;
    }
}