@import './variables.scss';

.btn-toggler, .btn-toggler-horizontal {
    position: relative;
    background-color: #ffffff;
    border-radius: $button-radius;
    border: 1px solid #657b96;
    box-shadow: $button-shadow;

    .inner-toggler {
        position: absolute;
        z-index: 1;
        background-color: #657b96;
        border-radius: 28px;
    }

    &:before, &:after {
        content: '';
        position: absolute;
        left: ($button-width - 8px - 4px)/2;
        width: 8px;
        top: 15%;
        height: 8px;
        border: 1px solid;
        border-color: #6f6f6f transparent transparent #6f6f6f;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after{
        z-index: 0;
        top: 80%;
        transform: rotate(-135deg);
    }

    .inner-line {
        border: none;
        height: 1px;
        border-radius: 1px;
        background-color: #191919;
        position: absolute;
        margin: 0;
        left: 15px;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

        &:first-child {
            top:25%;
        }
        &:last-child {
            top:75%;
        }
    }
}

.btn-toggler {
    width: $button-width;
    height: $button-height;
    touch-action: none;

    .inner-toggler {
        height: 58px;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        touch-action: none;
        border: 5px solid;
        border-color: #bacdda;
    }

    &-horizontal {
        width: 200px;
        height: 50px;

        .inner-toggler {
            top:0;
            height: 100%;
            width: 58px;
            left:50%;
            transform: translateX(-50%);
        }
        &:before, &:after {
            left: 15%;
            top: 40%;
            width: 8px;
            height: 8px;
        }
        &:before {
            transform: rotate(-45deg);
        }
        &:after{
            z-index: 0;
            left:80%;
            transform: rotate(135deg);
        }
    }
    
}
.app-title {
    padding: 10px;
    text-align: center;
}
.app-menu-list {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    background-color: #e8e8e8;
}
.app-menu-little-title {
    font-size: 10px;
}
.app-menu-item {
    letter-spacing: 4px;

    a {
        display: block;
        padding: 12px 20px;
        height: 50px;
        transition: 0.4s;
        &:hover {
            border-top: 10px solid #8686e6;
            color: #2939ff;
            }
    }
}

.btn-rnd {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 25;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #657b96;
    box-shadow: $button-shadow;
    -webkit-touch-callout: none;
    margin: 10px;
    flex-shrink: 0;
    &:focus {
        outline: none;
    }
    &:active {
        background-color: #5ae4ee;
    }
}

.fas, .fa {
    color: rgba(11, 30, 136, 0.596);
}