* {
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    font-weight: 500;
    font-size: large;
    height: 100%;
    margin: 0;
}

body {
    //touch-action: none;
    display: flex;
    flex-direction: column;
    -webkit-touch-callout: none;
}

.container-body {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#btn_horizontal_container {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.m-b {
    margin: 16px;
}
.d-flex {
    display: flex;
}
.d-f-space-between {
    justify-content: space-between;
}
.m-l-auto {
    margin-left: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.app-header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

a, a:active {
    text-decoration: none;
    color: inherit;
}

@import './elements.scss';