.cam {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;    
    background-color: grey;
}
.cam-src {
    flex-grow: 1;
    flex-shrink: 1;
    align-self: center;
}
.cam-group {
    z-index: 100;
    justify-content: space-around;
    position: absolute;
    right: 0;
    bottom: 50px;

    &-top {
        width: max-content;
        left: 50%;
        transform: translate(-50%);
    }

    &_reset-button {
        position: absolute;
        top: -35px;
        right: 0;
    }
    &_take-image-button {
        position: absolute;
        top: -100px;
        right: 0;
    }
    &_cam-turn-left-button {
        position: absolute;
        top: -100px;
        right: 200px;
    }
    &_cam-turn-right-button {
        position: absolute;
        top: -100px;
        right: 50px;
    }
}

.cam-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.hide-button {
    position: absolute;
    top: 0;
    right: 0;
}

.controllers {
    overflow: hidden;
    position: absolute;
    bottom: 50px;
    width: 100%;
    z-index: 30;
}

.info-panel-text {
    color: white;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cam-face {
    position: absolute;
    border: 3px yellow solid;
}

.cam-container {
    position: absolute;
    z-index: 10;
    background-color: #1c232c;
    width: 100%;
    height: 100%;
}

.remote-video {
    display: block;
    height: 100%;
    width: 100%;
    margin: auto;
}
