.info-panel {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
}

.info-panel-text {
    color: white;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.progress-bar-content {
    position: absolute;
    width: 80px;
    height: 80px;
}
.progress-bar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.led-status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}