.info-container {
    position: relative;
    border-radius: 10px;
    margin: 10px 5px;

    &-img {
        width: 300px;
        height: 200px;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &-title {
        position: absolute;
        left: 30px;
        top: 10px;
        font-weight: 900;
    }
}