.Header {
  width: 100%;
  background-color: var(--header-background-color);
  height: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    & .MenuItemSubText {
      opacity: 1;
      width: 100%;
    }
  }
}

.MenuItem {
  padding: 0 1rem;
  color: white;
  height: 100%;

  display: flex;
  align-items: center;
  white-space: nowrap;
  &:after {
    content: "";
    height: 35%;

    border-right: 1px solid rgba(255, 255, 255, 0.721);
  }

  &:hover {
    color: var(--header-menu-item-hover-color);
  }
  &--is-active {
    & .MenuItemSubText {
      opacity: 1;
      width: 100%;
    }
  }
}

.MenuItemSubText {
  transition: 1s opacity, 1s width, 1s box-shadow;
  opacity: 0;
  width: 0%;
}

.MenuButton {
  position: absolute;
  right: 0;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.5rem;
  overflow: hidden;
  border-radius: 100%;

  &-en {
    background: no-repeat url("../../../img/en_locale.JPG");
    background-size: cover;
  }
  &-ru {
    background: no-repeat url("../../../img/ru_locale.JPG");
    background-size: cover;
  }
}
