* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--white);
  text-decoration: none;
}

button {
  border: none;
}

html,
body,
body > div {
  height: 100%;
}

html {
  font-family: sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(9, 8, 8, 0.429);
  border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-background);
  border-radius: 10px;
  box-shadow: inset 0px 0px 12px 0px var(--scrollbar-shadow);
}
