:root {
  --main-background-color: #484848;
  --main-background-color-gradiend-end: #666a6c;
  --header-background-color: #979595;
  --header-menu-item-hover-color: #d3d3d3;
  --white: #fff;

  --scrollbar-background: #4e4b4b;
  --scrollbar-shadow: #cbc1c1;
}
