.feature-texts {
  &-f1 {
    top: 250px;
  }
  &-f2 {
    top: 400px;
  }
  &-f3 {
    top: 550px;
  }
  &-container {
    width: 15%;
    position: absolute;
    right: 10%;
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    display: flex;
    justify-content: end;
    align-items: center;
    transition: 1.5s;
    transform: translateY(80px);
    opacity: 0;

    &-started {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  &-dot {
    height: 10px;
    width: 10px;
    background: white;
    flex-grow: 1;
    flex-shrink: 0;
    border-radius: 100%;
  }
  &-line {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-right: 10px;
  }
  &-text {
    white-space: nowrap;
  }
}

.feature-texts-description {
  position: absolute;
  top: 20px;
  opacity: 0;
  transition: 1s;
  &-show {
    opacity: 1;
  }
}

.Section {
  height: 200vh;
}

.TopSection {
  &-img {
    &-container {
      position: sticky;
      height: calc(100% - 3rem - 2rem);
    }

    position: sticky;
    height: 80vh;
    transform: translateX(-100%);
    top: 8rem;
    margin: 2rem;
    background: url("../../../../img/A1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 1.6s;

    &-is-ready {
      transform: translateX(0%);
    }
  }
}

.VerstionText {
    position: absolute;
    top: 20px;
    font-size: 20px;
    color: #4ddbab;
    font-weight: 600;
}