.robot {
    &-container {        
        display: flex;
        margin: auto;
        position: relative;
        padding: 16px;        
    }
    &-container-img {        
        width: 200px;
        height: 200px;
        background-size: cover;
        background-position: center;
        border-radius: 5px;
    }
    &-led-container {
        position: absolute;
        display: flex;
        align-items: center;
        top: 40px;
        left: 40px;

        &-power-level {
            font-size: 16px;
            line-height: 16px;
            margin-left: 5px;
        }
    }
    &-led-title {
        margin-left: 15px;

        &-container {
            display: flex;
        }
    }
    &-controll-button {
        position: absolute;
        bottom: 50px;
        right: 50px;
    }
}

.button-block-container {
    display: flex;
    flex-direction: column;
}
.link-button {
    margin: 5px;
    padding: 5px;
    background-color: #ceedff;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;

    &:active {
        background-color: #abc6d6;
    }

    &:hover {
        background-color: #98c1d8;
    }

}