.title-img {
    height: 700px;
    background-repeat: no-repeat;

    &.robo1 {
        max-width: 1000px;
        background-image: url('../../../img/r1.jpg');        
        background-position-x: -100px;
    }
    
    &.robo2 {
        max-width: 650px;
        background-image: url('../../../img/r2.jpg');
        background-size: cover;
        background-position-x: -10%;
    }

    &.robo3 {
        background-image: url('../../../img/r3.jpg');
    }
}


.title-text {
    text-align: center;
    color: white;
    font-size: 45px;

    &-small {
        font-size: 25px;
    }
}

.title-top, .title-left, .title-right {
    display: block;
    position: absolute;
    z-index: 10;
    text-align: left;
    line-height: 150%;
    padding: 16px 32px 16px;
}
.title-top {
    top: 120px;
    right: 0;
    width: 450px;

    @media (max-width:1236px) {
        position: relative;
        top: 0;
    }
}
.title-left {
    top: 50px;
}
.title-right {
    right: 50px;
    bottom: 50px;
}

.container {
    position: relative;
    background-color: #484848;
}