.simple-button {
    border: 1px solid;
    height: 35px;
    width: 35px;
    padding: 0px;
    border-radius: 100%;

    &:active {
        color: white;
        background-color: transparent;
    }
}