.label-input {
    &-container {
        display: block;
        padding: 5px 0px;
    }
    &-label {
        display: block;
        padding: 10px 0;
        color: white;
    }
    &-input {
        display: block;
        padding: 5px;
        height: 30px;
        color: white;
        background-color: transparent;
        border: 1px solid whitesmoke;
        border-radius: 15px;
    }
}