@import '~/styles/variables.scss';

$line-width: 1px;
$line-color: rgb(255, 255, 206);

.info-panel {
    &-container {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &-level {
        width: 50%;
        height: 50%;
        background-color: cadetblue;
    }
}

.level-line-horizontal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    max-width: 400px;
    height: 3px;
    border-top: 1px solid white;
}

.level-panel-grad-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;//calc(40% + 20px);
    //max-width: 440px;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.level-panel-grad {
    margin: 0 5px;
    height: 300px;
    border: 1px solid white;
    transform: translateY(-100px);
    border-radius: 100%;
}

.level-panel-text {
    position: absolute;
    color: white;
    font-size: 12px;
    top: 28%;
}
.level-display {
    width: 100%;
    height: 100%;
    transform: translateY(3px);
}
.level-display-container-v {
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 160px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.level-display-vertical {
    position: absolute;
    height: 298px;
}
.level-display-svg {
    polyline {
        fill: none;
        stroke: $line-color;
        stroke-width: $line-width * 2;
    }
}